USE [master]
GO
/****** Object:  Database [Art Gallery1]    Script Date: 4/7/2018 1:39:27 PM ******/
CREATE DATABASE [Art Gallery1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Art Gallery1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Art Gallery1.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Art Gallery1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Art Gallery1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Art Gallery1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Art Gallery1]
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 4/7/2018 1:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[ArtistID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NULL,
	[BirthDate] [date] NOT NULL,
	[DeathDate] [date] NULL,
	[Country] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Artist] PRIMARY KEY CLUSTERED 
(
	[ArtistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArtistArtwork]    Script Date: 4/7/2018 1:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtistArtwork](
	[ArtistID] [int] NOT NULL,
	[ArtworkID] [int] NOT NULL,
 CONSTRAINT [PK_ArtistArtwork] PRIMARY KEY CLUSTERED 
(
	[ArtistID] ASC,
	[ArtworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artwork]    Script Date: 4/7/2018 1:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artwork](
	[ArtworkID] [int] NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Year] [datetime] NOT NULL,
	[Description] [text] NOT NULL,
	[Price] [money] NOT NULL,
	[CountryID] [int] NOT NULL,
	[GenreID] [int] NOT NULL,
 CONSTRAINT [PK_Artwork] PRIMARY KEY CLUSTERED 
(
	[ArtworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArtworkImage]    Script Date: 4/7/2018 1:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtworkImage](
	[ArtworkID] [int] NOT NULL,
	[ImageID] [int] NOT NULL,
 CONSTRAINT [PK_ArtworkImage] PRIMARY KEY CLUSTERED 
(
	[ArtworkID] ASC,
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 4/7/2018 1:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Telephone] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Continent]    Script Date: 4/7/2018 1:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Continent](
	[ContinentID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Continent] PRIMARY KEY CLUSTERED 
(
	[ContinentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 4/7/2018 1:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ContinentID] [int] NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 4/7/2018 1:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 4/7/2018 1:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImageID] [int] NOT NULL,
	[ArtImage] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellArtwork]    Script Date: 4/7/2018 1:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellArtwork](
	[SellID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Cost] [money] NOT NULL,
	[Price] [money] NOT NULL,
	[ContactID] [int] NOT NULL,
	[ArtworkID] [int] NOT NULL,
 CONSTRAINT [PK_Selling] PRIMARY KEY CLUSTERED 
(
	[SellID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 4/7/2018 1:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ArtworkID] [int] NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_70]    Script Date: 4/7/2018 1:39:27 PM ******/
CREATE NONCLUSTERED INDEX [fkIdx_70] ON [dbo].[ArtistArtwork]
(
	[ArtistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_74]    Script Date: 4/7/2018 1:39:27 PM ******/
CREATE NONCLUSTERED INDEX [fkIdx_74] ON [dbo].[ArtistArtwork]
(
	[ArtworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_214]    Script Date: 4/7/2018 1:39:27 PM ******/
CREATE NONCLUSTERED INDEX [fkIdx_214] ON [dbo].[Artwork]
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_218]    Script Date: 4/7/2018 1:39:27 PM ******/
CREATE NONCLUSTERED INDEX [fkIdx_218] ON [dbo].[Artwork]
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_233]    Script Date: 4/7/2018 1:39:27 PM ******/
CREATE NONCLUSTERED INDEX [fkIdx_233] ON [dbo].[ArtworkImage]
(
	[ArtworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_238]    Script Date: 4/7/2018 1:39:27 PM ******/
CREATE NONCLUSTERED INDEX [fkIdx_238] ON [dbo].[ArtworkImage]
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_210]    Script Date: 4/7/2018 1:39:27 PM ******/
CREATE NONCLUSTERED INDEX [fkIdx_210] ON [dbo].[Country]
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_137]    Script Date: 4/7/2018 1:39:27 PM ******/
CREATE NONCLUSTERED INDEX [fkIdx_137] ON [dbo].[SellArtwork]
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_222]    Script Date: 4/7/2018 1:39:27 PM ******/
CREATE NONCLUSTERED INDEX [fkIdx_222] ON [dbo].[SellArtwork]
(
	[ArtworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_144]    Script Date: 4/7/2018 1:39:27 PM ******/
CREATE NONCLUSTERED INDEX [fkIdx_144] ON [dbo].[Type]
(
	[ArtworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArtistArtwork]  WITH CHECK ADD  CONSTRAINT [FK_70] FOREIGN KEY([ArtistID])
REFERENCES [dbo].[Artist] ([ArtistID])
GO
ALTER TABLE [dbo].[ArtistArtwork] CHECK CONSTRAINT [FK_70]
GO
ALTER TABLE [dbo].[ArtistArtwork]  WITH CHECK ADD  CONSTRAINT [FK_74] FOREIGN KEY([ArtworkID])
REFERENCES [dbo].[Artwork] ([ArtworkID])
GO
ALTER TABLE [dbo].[ArtistArtwork] CHECK CONSTRAINT [FK_74]
GO
ALTER TABLE [dbo].[Artwork]  WITH CHECK ADD  CONSTRAINT [FK_214] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Artwork] CHECK CONSTRAINT [FK_214]
GO
ALTER TABLE [dbo].[Artwork]  WITH CHECK ADD  CONSTRAINT [FK_218] FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genre] ([GenreID])
GO
ALTER TABLE [dbo].[Artwork] CHECK CONSTRAINT [FK_218]
GO
ALTER TABLE [dbo].[ArtworkImage]  WITH CHECK ADD  CONSTRAINT [FK_233] FOREIGN KEY([ArtworkID])
REFERENCES [dbo].[Artwork] ([ArtworkID])
GO
ALTER TABLE [dbo].[ArtworkImage] CHECK CONSTRAINT [FK_233]
GO
ALTER TABLE [dbo].[ArtworkImage]  WITH CHECK ADD  CONSTRAINT [FK_238] FOREIGN KEY([ImageID])
REFERENCES [dbo].[Image] ([ImageID])
GO
ALTER TABLE [dbo].[ArtworkImage] CHECK CONSTRAINT [FK_238]
GO
ALTER TABLE [dbo].[Country]  WITH CHECK ADD  CONSTRAINT [FK_210] FOREIGN KEY([ContinentID])
REFERENCES [dbo].[Continent] ([ContinentID])
GO
ALTER TABLE [dbo].[Country] CHECK CONSTRAINT [FK_210]
GO
ALTER TABLE [dbo].[SellArtwork]  WITH CHECK ADD  CONSTRAINT [FK_137] FOREIGN KEY([ContactID])
REFERENCES [dbo].[Contact] ([ContactID])
GO
ALTER TABLE [dbo].[SellArtwork] CHECK CONSTRAINT [FK_137]
GO
ALTER TABLE [dbo].[SellArtwork]  WITH CHECK ADD  CONSTRAINT [FK_222] FOREIGN KEY([ArtworkID])
REFERENCES [dbo].[Artwork] ([ArtworkID])
GO
ALTER TABLE [dbo].[SellArtwork] CHECK CONSTRAINT [FK_222]
GO
ALTER TABLE [dbo].[Type]  WITH CHECK ADD  CONSTRAINT [FK_144] FOREIGN KEY([ArtworkID])
REFERENCES [dbo].[Artwork] ([ArtworkID])
GO
ALTER TABLE [dbo].[Type] CHECK CONSTRAINT [FK_144]
GO
USE [master]
GO
